<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.showtracker">

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.tags.TagListActivity"
            android:label="@string/title_activity_tag"
            android:parentActivityName=".screens.lists.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".screens.showdetails.ShowDetailActivity"
            android:label="@string/title_activity_show_detail"
            android:parentActivityName=".screens.showslist.ShowsListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.showtracker.screens.showslist.ShowsListActivity" />
        </activity>
        <activity
            android:name=".screens.showslist.ShowsListActivity"
            android:label="@string/title_activity_shows_list"
            android:launchMode="singleTop"
            android:parentActivityName=".screens.lists.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.lists.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.common.activities.AddEditActivity"
            android:windowSoftInputMode="stateVisible"/>
    </application>
</manifest>